body {
  font-family: 'Trebuchet MS', verdana;
  margin: 0;
  min-height: 100vh;
  background-color: purple;
}

.background-image {
  margin: 0;
  background: url(../images/cliffTree.jpg)  top/contain no-repeat fixed;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.background-image h1 {
  text-align: center;
  text-shadow: 0.8vw 0.19vw 1.2vw gold;
  font-family: Quicksand;
  font-size: 10vw;
  transition: transform 0.2s;
  white-space: nowrap;
  transform-origin: center;
  flex-shrink: 1;
  color: purple;
  margin-top: 15%;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.background-image > h1:hover {
  text-shadow: 0.8vw 0.19vw 1.2vw purple;
  color: gold;
}

.background-image h3 {
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0.2vw silver;
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  white-space: nowrap;
  color: white;
  margin-top: 31%;
  position: fixed;
  z-index: 2;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto; 
}

#button-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  margin-top: 35%;
  margin-bottom: 5vh;
}

#showCarouselBtn {
  margin: 2vh;
  font-size: 3vh; 
  color: yellow; 
  background-color: purple; 
  border-color: grey;
  border-width: 0.2vw;
  border-style: solid;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
  padding: 1.7vh;
  cursor: pointer;
}

#showCarouselBtn:hover {
  background-color: gold; 
  color: purple; 
}

#showCarouselBtn:active {
  background-color: green;
  color: red;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#closeGalleryBtn {
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: red;
  font-size: 3vh;
  color: silver;
  border-color: grey;
  border-radius: 1vw 1vw 1vw 1vw;
  padding: 1.7vh;
  cursor: pointer;
  z-index: 10000;
}

#closeGalleryBtn:hover {
  background-color: green;
}

#closeGalleryBtn:active {
  background-color: gold;
}

footer {
  background-color: rgba(128, 128, 128, 0.7); 
  color: red;
  font-family: Arial, sans-serif;
  font-size: 1.5vh;
  text-align: center;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

footer p:hover {
  color: gold;
}

#gallery-container {
  background-color: purple; 
  padding: 20px;
  position: fixed;
  top: 50px;
  left: 0;
  width: calc(100% - 20px);
  max-height: calc(100vh - 50px);
  background-color: rgba(128, 0, 128, 0.9);
  z-index: 2; 
  overflow-y: auto;
  box-sizing: border-box;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
